::-webkit-scrollbar {
    width: 5px;
    border-left: 1px solid #e6e6e6;
}
::-webkit-scrollbar-thumb {
    background: #9c27b0;
}

.top-navbar .top-navbar-menu > ul.top-menu > li > a {
    color: #9c27b0;
    &:hover {
        color: #9c27b0;
    }
}
.top-navbar .top-navbar-menu ul.top-menu > li ul.sub-menu > li > a:hover {
    background: transparent;
    color: #9c27b0;
}

.top-navbar .top-navbar-menu ul.top-menu > li ul.sub-menu > li > .language-active {
    background: #9c27b0;
}

.top-navbar--inverse .top-navbar-menu > ul.top-menu > li > a:hover {
    color: #9c27b0;
}

.top-navbar .top-navbar-links .top-bar-date a:hover,
.top-navbar .top-navbar-links .top-bar-link a:hover {
    color: #9c27b0;
}

.top-navbar .topbar-login > li a:hover {
    color: #9c27b0;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #fff;
    // background: #9c27b0;
}

// .navbar-nav .show .nav-link,
// .navbar-nav .show .nav-link:focus,
// .navbar-nav .show .nav-link:hover {
//   /* color: #FFF;
//     background: #9C27B0;  */
// }

.navbar-light .navbar-nav .nav-link {
    color: #9c27b0;
    // background: transparent;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    /* color: #FFF;
     background: #9C27B0; */
    color: #9c27b0;
    border-bottom-color: #9c27b0;
}

// .navbar-light .navbar-nav .show .nav-link,
// .navbar-light .navbar-nav .show .nav-link:focus,
// .navbar-light .navbar-nav .show .nav-link:hover {
//   /* color: #FFF;
//      background: #9C27B0; */
//   /* border-bottom: 2px solid #9C27B0; */
// }

.navbar.bg-base-1 {
    background-color: #9c27b0;
}

.navbar-nav .nav-item-icon .nav-link:focus,
.navbar-nav .nav-item-icon .nav-link:hover,
.navbar-nav .nav-item-icon.show .nav-link,
.navbar-nav .nav-item-icon.show .nav-link,
.navbar-nav .nav-item-icon.show .nav-link:focus {
    background: transparent !important;
    color: #9c27b0 !important;
}

@media (min-width: 992px) {
    .navbar--style-1 .navbar-nav .nav-link:focus,
    .navbar--style-1 .navbar-nav .nav-link:hover {
        color: #9c27b0;
        background: transparent;
    }

    .navbar--style-1 .navbar-nav .show .nav-link,
    .navbar--style-1 .navbar-nav .show .nav-link:focus,
    .navbar--style-1 .navbar-nav .show .nav-link:hover {
        color: #9c27b0;
        background: transparent;
    }

    .navbar--style-1 .navbar-nav .show .nav-link::after,
    .navbar--style-1 .navbar-nav .nav-link:hover::after,
    .navbar--style-1 .navbar-nav .nav-link:focus::after {
        color: #9c27b0;
    }
}

.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #9c27b0;
}

.navbar-nav .dropdown-menu .open .dropdown-item {
    color: #9c27b0;
    background-color: transparent;
}

@media (min-width: 992px) {
    .navbar-dropdown--inverse .dropdown-menu .dropdown-item:focus,
    .navbar-dropdown--inverse .dropdown-menu .dropdown-item:hover {
        color: #9c27b0;
        background-color: transparent;
    }

    .navbar-dropdown--inverse .dropdown-menu .open .dropdown-item {
        color: #9c27b0;
        background-color: transparent;
    }
}

.mega-dropdown-menu > li > ul > li > a:hover {
    color: #9c27b0;
}

.mega-dropdown-menu .meganav-section-title > a:hover {
    color: #9c27b0;
}

@media (min-width: 992px) {
    .mega-dropdown-menu .mega-dropdown-col-icon > a:hover {
        color: #9c27b0;
    }

    .navbar-dropdown--inverse .mega-dropdown-menu .meganav-section-title > a:hover {
        color: #9c27b0;
    }
}

@media (max-width: 991px) {
    .navbar-nav .nav-link:focus,
    .navbar-nav .nav-link:hover,
    .navbar-nav .show .nav-link,
    .navbar-nav .show .nav-link:focus,
    .navbar-nav .show .nav-link:hover {
        color: #9c27b0;
        background: transparent;
        border-radius: 0 !important;
    }

    .navbar-inverse .dropdown-menu .dropdown-item:focus,
    .navbar-inverse .dropdown-menu .dropdown-item:hover {
        color: #9c27b0;
    }
}

.slice--arrow.slice--arrow.bg-base-1:before {
    border-top-color: #9c27b0;
}

/* Pace: Page Progress Bar */
.pace .pace-progress {
    background: #9c27b0 !important;
}

.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    background-color: #9c27b0;
}

.navbar-inverse .hamburger.is-active .hamburger-inner:after,
.navbar-inverse .hamburger.is-active .hamburger-inner:before {
    background-color: #9c27b0;
}

.noUi-connect {
    background: #9c27b0;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background-color: #9c27b0;
}

.swiper-pagination--style-1 .swiper-pagination-bullet-active {
    background: #9c27b0;
}

.swiper-pagination-bullet-active {
    background: #9c27b0;
}

.swiper-button--style-1:active,
.swiper-button--style-1:focus,
.swiper-button--style-1:hover {
    background: transparent;
    color: #9c27b0;
    opacity: 1;
}

.swiper-button--style-2:hover {
    background: white;
    color: #9c27b0;
}

.milestone-counter .milestone-delimiter {
    border-bottom: 3px solid #9c27b0;
}

.btn-back-to-top {
    background: #9c27b0;
}

.st-profile .profile-user-name {
    color: #9c27b0;
}

a.link {
    color: #9c27b0;
}

a.link--style-1:hover {
    color: #9c27b0;
}

.heading:hover > a {
    color: #9c27b0 !important;
}

.heading-inverse:hover > a {
    color: #9c27b0 !important;
}

.icon-pic--style-1 {
    color: #9c27b0;
}

.badge-duration {
    color: #9c27b0;
    font-weight: 500;
}

.badge-corner-base-1 {
    border-top-color: #9c27b0;
}

.ribbon.bg-base-1:before {
    border-top: 27px solid #9c27b0;
}

.ribbon.bg-base-1:after {
    border-bottom: 27px solid #9c27b0;
}

.block-author .author-info .author-name > a:hover {
    color: #9c27b0;
}

.block.block--style-1 .meta-tags a {
    display: inline-block;
    color: #9c27b0;
}

.block.block--style-1.grid .block-category {
    color: #9c27b0;
}

.block--style-3 .block-price {
    color: #9c27b0;
}

.block--style-4-v2 .block-body.bg-base-1:after {
    border-top-color: #9c27b0;
}

.block-quote .quote-icon {
    color: #9c27b0;
}

.block-testimonial > .quote {
    color: #9c27b0;
}

.block.article .meta-tags a {
    color: #9c27b0;
}

.block.article .video-hover-play a:hover:before {
    background: #9c27b0;
}

.block.article.grid .article-category {
    color: #9c27b0;
}

.block.article.list .article-category {
    color: #9c27b0;
}

.article-wrapper .article-title > a:hover {
    color: #9c27b0;
}

.block.product .product-title a:hover {
    color: #9c27b0;
}

.block.property .block-content .content-title {
    color: #9c27b0;
}

.block-comment .block-body .comment-options > a:hover {
    color: #9c27b0;
}

.block-cell .block-text p.price {
    color: #9c27b0;
}

.btn-inline-links > a:after {
    color: #9c27b0;
}

.btn-base-1 {
    background-color: #9c27b0;
    border-color: #9c27b0;
    &:hover,
    &.active {
        background-color: #5a0969;
        border-color: #5a0969;
    }
}

.btn-base-1.btn-outline {
    background-color: transparent !important;
    border-color: #9c27b0 !important;
    color: #9c27b0 !important;
}

.btn-base-1.btn-outline:active,
.btn-base-1.btn-outline:focus,
.btn-base-1.btn-outline:hover {
    background-color: #9c27b0 !important;
    border-color: #9c27b0 !important;
    color: #fff !important;
}

.btn-white {
    color: #9c27b0 !important;
}

.card-title > .btn-aux:hover > .aux-text {
    color: #9c27b0;
}
.card-blockquote > footer {
    font-size: 1rem;
    margin-top: 2rem;
    color: #9c27b0;
}

.card-hover--animation-1:hover .btn {
    background: #9c27b0;

    border-color: #9c27b0;
}
.carousel--style-1 .carousel-control:hover {
    background: #9c27b0;
}
.accordion--style-3 .card-header > .card-title > a[aria-expanded='true'],
.accordion--style-4 .card-header > .card-title > a[aria-expanded='true'] {
    color: #9c27b0 !important;
    text-decoration: none;
}

.delimiter-left-thick--style-1 {
    border-left: 4px solid #9c27b0;
}

.short-delimiter--style-1:before {
    background: #9c27b0;
}

.short-delimiter-base-1:before {
    background: #9c27b0;
}

.vertical-delimiter--style-1:before {
    background-color: #9c27b0;
}

.dropdown-menu .dropdown-item > i {
    color: #9c27b0 !important;
}

.flatpickr-month {
    background-color: #9c27b0;
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover {
    background-color: #9c27b0 !important;
}

.footer--style-1 {
    background: #9c27b0;
    color: #fff;
}

.form-default .form-control:focus {
    background: #ffffff;
    border-color: #9c27b0;
}

.form-material .bar:after,
.form-material .bar:before {
    background: #9c27b0;
}

.checkbox input[type='checkbox']:checked + label::after,
.checkbox input[type='radio']:checked + label::after {
    color: #9c27b0;
}

.checkbox-primary input[type='checkbox']:checked + label::before,
.checkbox-primary input[type='radio']:checked + label::before {
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.radio-primary input[type='radio'] + label::after {
    background-color: #9c27b0;
}

.radio-primary input[type='radio']:checked + label::before {
    border-color: #9c27b0;
}

.radio-primary input[type='radio']:checked + label::after {
    background-color: #9c27b0;
}

.product-size label:hover {
    color: #9c27b0;
    cursor: pointer;
    border-color: #9c27b0;
}

.product-size input:checked ~ label {
    color: #9c27b0;
    border-color: #9c27b0;
    font-weight: 600;
}

.product-color input:checked ~ label {
    border-color: #9c27b0;
    opacity: 1;
}

.form-card--style-2 .form-header {
    background-color: #9c27b0;
}

.form-card--style-2 .form-header:after {
    border-top-color: #9c27b0;
}

.feature--boxed-border.active:after {
    background: #9c27b0;
}

a > .feature--boxed-border:hover {
    border-color: #9c27b0;
}

.icon-block--style-1-v1 .block-icon > .icon-number,
.icon-block--style-1-v1 .block-icon i {
    color: #9c27b0;
}

.icon-block--style-1-v3 .block-icon {
    border: 1px solid #9c27b0;
}

.icon-block--style-1-v3 .block-icon i {
    color: #9c27b0;
}

.icon-block--style-1.v3 .block-icon i {
    font-size: 15px;
    color: #9c27b0;
}

.icon-block--style-1-v5 .block-icon {
    color: #9c27b0;
}

.icon-block--style-1-v5.block-bordered-grid-animated:hover .block-inner::after {
    border: 2px solid #9c27b0;
}

.icon-block--style-2-v2.active .block-icon,
.icon-block--style-2-v2:hover .block-icon {
    border-color: #9c27b0;
    background: #9c27b0;
}

.icon-block--style-3-v1 > i {
    border: 1px solid #eceeef;
    background: transparent;
    color: #9c27b0;
}

.icon-block--style-4 .block-icon {
    background: #9c27b0;
}

.icon-block--style-4:hover .block-icon::after {
    border: 3px solid #9c27b0;
}

.icon-block--arrow .block-icon:after {
    border-top-color: #9c27b0;
}

ul.icons li > a:hover {
    color: #9c27b0;
}

ul.inline-links > li > a:hover {
    color: #9c27b0;
}

ul.inline-links > li > a:hover > heading {
    color: #9c27b0;
}

ul.inline-links.inline-links--style-2 > li:before {
    color: #9c27b0;
}

ul.categories > li:hover > a {
    color: #9c27b0;
    text-decoration: none;
}

ul.categories--style-1 > li > a:hover > .category-name {
    color: #9c27b0;
}

.list-wrapper {
    background: #9c27b0;
    padding: 1.5rem;
    border-radius: 0.25rem;
}

ul.meta-info-cells-v3 li:hover i {
    background: #9c27b0;
    color: #fff;
    border-color: #9c27b0;
}

ul.meta-info-cells-v3 li .btn-link {
    color: #9c27b0;
}

ul.meta-info-cells-v4 > li > a:hover,
ul.meta-info-cells-v4 > li > a:hover > i,
ul.meta-info-cells-v5 > li > a:hover,
ul.meta-info-cells-v5 > li > a:hover > i {
    color: #9c27b0;
}

ul.meta-info-cells-v4 li .btn-link {
    color: #9c27b0;
}

.sidebar .list-unstyled > li:hover > a {
    color: #9c27b0;
}

.list-recent .post-author {
    color: #9c27b0;
}

.list-recent .post-author a:hover {
    color: #9c27b0;
}

.list-recent .post-title a:hover {
    color: #9c27b0;
}

.list-icon--style-1 i {
    color: #9c27b0;
}

.modal-header {
    color: #9c27b0;
}

.modal[data-modal-color='base-1'] .modal-content {
    background-color: #9c27b0;
}

.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover {
    background: #9c27b0;
    color: #2b2b2c;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    color: #2b2b2c;
    background: #9c27b0;
}

.nav-pills--style-3 .nav-link:focus,
.nav-pills--style-3 .nav-link:hover {
    background: #9c27b0;
    color: #fff;
}

.nav-pills--style-3.nav-pills-inverse .nav-link:focus,
.nav-pills--style-3.nav-pills-inverse .nav-link:hover {
    background: #9c27b0;
    color: #fff;
}

.nav-pills--style-3.nav-pills-inverse .nav-link.active,
.nav-pills--style-3.nav-pills-inverse .nav-link.active:focus,
.nav-pills--style-3.nav-pills-inverse .nav-link.active:hover {
    background: #9c27b0;
    color: #fff;
}

.pagination > .active .page-link,
.pagination > .active .page-link:focus,
.pagination > .active .page-link:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}

.pager .page-item .page-link:focus,
.pager .page-item .page-link:hover {
    text-decoration: none;
    background-color: #9c27b0;
}

.pricing-plans--style-1 .block-pricing:hover {
    background: #9c27b0;
    color: #fff;
}

.pricing-plans--style-1 .price-tag {
    color: #9c27b0;
}

.pricing-plans--style-2 .block-pricing.active .plan-title {
    background: #9c27b0;
    color: #fff;
    border-bottom: 1px solid #9c27b0;
}

.pricing-plans--style-3 .block-pricing .plan-title-wrapper.active {
    background: #9c27b0;
    color: #fff;
}

.promos.bg-base-1 .promo {
    background: #9c27b0;
}

.progress-bar {
    background-color: #9c27b0;
}

.bg-base-1.ss-style-zigzag::after {
    background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #9c27b0), color-stop(0.25, #9c27b0));
    background-image: linear-gradient(135deg, #9c27b0 25%, transparent 25%), linear-gradient(225deg, #9c27b0 25%, transparent 25%);
}

.section-title--style-1 .underlay-subtitle {
    color: #9c27b0;
}

.bg-base-1 .section-title--style-2.text-center .section-title-inner > span {
    background: #9c27b0;
}

[class*='social-media--style-1'] > li > a:hover {
    background: #9c27b0;
    color: #fff;
}

.social-media.social-media--style-1-v1 > li > a {
    background: #9c27b0;
    color: #fff;
}

.social-media.social-media--style-1-v2 > li > a:hover {
    background: #9c27b0;
    color: #fff;
}

.social-media.social-media--style-1-v3 > li > a:hover {
    background: #9c27b0;
    color: #fff;
}

.social-media-brand-color:not(.social-media-brand-color--hover) > li > a:hover {
    background: #9c27b0;
    color: #fff;
}

.table-cart .cart-item-content .cart-item-title:hover {
    color: #9c27b0;
}

.nav-tab-image-wrapper:hover .nav-tab-image {
    border-color: #9c27b0;
}

.nav-tab-image-wrapper:hover .nav-tab-image-title {
    color: #9c27b0;
}

@media (min-width: 992px) {
    .tabs .nav-pills.nav-pills--rounded .active .nav-pill .nav-pill-circle {
        background: #9c27b0;
        color: #fff;
    }
}

.tabs--style-1 .nav-tabs > li > a:hover {
    background: #9c27b0;
    color: #fff;
}

.tabs--style-1 .nav-tabs > li.active > a {
    border: 1px solid #9c27b0;
    background: #9c27b0;
}

.tabs--style-1 .nav-tabs > li.active:first-child > a {
    border-left: 1px solid #9c27b0;
}

.tabs--style-1 .nav-tabs > li.active > a {
    color: #9c27b0;
}

.tabs--style-1 .nav-tabs > li.active > a,
.tabs--style-1 .nav-tabs > li.active > a:focus,
.tabs--style-1 .nav-tabs > li.active > a:hover {
    background: #9c27b0;
    color: #fff;
}

.tabs--style-2 .nav-tabs .nav-item.show .nav-link,
.tabs--style-2 .nav-tabs .nav-link.active,
.tabs--style-2 .nav-tabs .nav-link:hover {
    border-bottom: 1px solid #9c27b0;
    background: transparent !important;
    color: #9c27b0;
}

.tabs--style-2 > .nav-tabs > li.active > a > i {
    color: #9c27b0;
}

.view-fifth h2 {
    background: #9c27b0;
}

.profile-picture.btn-aux:hover {
    background: #9c27b0;
    color: #fff;
}

.shop-default-wrapper .product .product-actions .btn-product-action:hover {
    background: #9c27b0;
}

.shop-cards-wrapper .product.product--style-2 .product-content .product-icon-btn.active {
    color: #9c27b0;
}

.shop-cards-wrapper .product.product--style-2 .product-content .product-icon-btn:hover {
    color: #9c27b0;
}

.shop-cards-wrapper.shop-tech-wrapper .product-buttons .btn-icon:hover,
.shop-cards-wrapper.shop-tech-wrapper .product-buttons .btn-icon.active {
    color: #9c27b0;
}

.input-group-btn-vertical > .btn:hover {
    background-color: #9c27b0;
    color: #fff;
}

.c-base-1 {
    color: #9c27b0 !important;
}

.bg-base-1 {
    background-color: #9c27b0 !important;
    color: #fff !important;
}

.search-widget .form-control:focus {
    border-color: #9c27b0;
}

.search-widget--style-2 button.btn-inner:hover {
    color: #9c27b0;
}

.sidebar .sidebar-search-widget button:hover {
    color: #9c27b0;
}

.tagcloud a {
    background: #9c27b0;
}

.tagcloud--style-1 a:hover {
    background: #9c27b0;
    color: #fff;
}

.photostream .photo-wrapper img:hover {
    box-shadow: 0 0 0 3px #9c27b0;
}

.contacts .contact-footer > button:hover {
    background: #9c27b0;
    color: #fff;
}

.map-container address {
    background-color: fade(#9c27b0, 80%);
}

#map-zoom-in:hover,
#map-zoom-out:hover {
    background-color: #9c27b0;
}

.play-video--style-1 {
    background: #9c27b0;
    color: #fff;
}

.link-menu--style-1 > a.active,
.link-menu--style-1 > a:hover {
    color: #9c27b0;
}

.link-menu--style-2 a.active {
    color: #9c27b0 !important;
}

.link-menu--style-3 > a.active,
.link-menu--style-3 > a:hover {
    background: #9c27b0;
    color: #fff !important;
}

.font_base {
    color: #9c27b0 !important;
}

.listing-hover > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #9c27b0;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.25s linear;
}

.border_top2x {
    border: 1px solid #dedede !important;
    border-top: 2px solid #9c27b0 !important;
}

.custom-nav > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #9c27b0;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.25s linear;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #9c27b0 !important;
}
.nav_active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #9c27b0;
}
.nav_active_dropdown {
    color: #9c27b0 !important;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.direct-chat-warning .right > .direct-chat-text {
    background: #9c27b0;
    border-color: #9c27b0;
    color: #fff;
}
.direct-chat-warning .right > .direct-chat-text:after,
.direct-chat-warning .right > .direct-chat-text:before {
    border-left-color: #9c27b0;
}

#modal_header {
    color: #9c27b0;
}

.m_nav_active:after {
    background: #9c27b0;
}
